header {
  width: 100%;
  padding: 5px 12px 5px 231px;
  font-family: "Zen Maru Gothic";
}
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 15px;
  color: #519bb3;
}
.nav-bar a {
  color: #519bb3;
  text-align: center;
}
.header-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.header-btns a {
  display: flex;
  align-items: center;
  gap: 6px;
}
.book-btn,
.tel-btn {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.book-btn {
  background: linear-gradient(135deg, #3894df 0%, #62c097 100%);
}
.tel-btn {
  background: linear-gradient(135deg, #62c097 0%, #91c24c 100%);
}
.book-btn img:nth-of-type(1),
.tel-btn img:nth-of-type(1) {
  width: 25px;
}
.book-btn img:nth-of-type(2),
.tel-btn img:nth-of-type(2) {
  width: 28px;
}
.logo img {
  width: 125px;
}

.header-container-sp {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-btns-sp {
  display: flex;
  align-items: center;
  gap: 27px;
}
.header-btns-sp a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  line-height: 1.3;
  color: #519bb3;
}
.header-btns-sp a img {
  width: 30px;
}
.hamburger {
  display: none;
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #3894df 0%, #62c097 100%);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}
.hamburger .line {
  background-color: #ffffff;
  width: 100%;
  height: 3px;
  border-radius: 100px;
}

/* Active hamburger -> X */
.hamburger.is-active {
  background-color: #5da672;
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  transition: transform 0.3s ease;
}
.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  transition: transform 0.3s ease;
}

/* Mobile drawer menu */
.ham-menu-container {
  position: fixed;
  top: 59px;
  right: 0;
  bottom: 0;
  width: 327px;
  background-color: #eef5f6;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 90;
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 98px;
  overflow: scroll;
}
.ham-menu-container.is-open {
  transform: translateX(0);
}
.ham-menu-list {
  width: fit-content;
}
.ham-menu-list-item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ham-menu-list-item a {
  position: relative;
  font-size: 20px;
  padding: 9px 10px;
}
.ham-menu-list-item a:hover {
  color: #519bb3;
  border-color: #519bb3;
}

@media (max-width: 1100px) {
  header {
    position: relative;
    padding: 5px 94px 5px 231px;
    max-height: 60px;
  }
  .header-container {
    display: none;
  }
  .header-container-sp {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
}
