main {
  width: 100%;
}
/* ----- FV  ----- */
.fv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/fv/hero-bg.png") no-repeat center / cover;
}
.hero p {
  font-size: 46px;
  color: #ffffff;
}
.fv .side-bar {
  width: 100%;
  max-width: 1100px;
  padding-block: 16px;
  font-size: 14px;
  color: #8c8c8c;
}
.fv .hero-txt {
  width: 100%;
  max-width: 1100px;
  padding-block: 48px;
  font-size: 18px;
  text-align: center;
}
.hero-ad {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #3894df 0%, #62c097 100%);
  z-index: 2;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}
.hero-ad p:nth-of-type(1) {
  color: #519bb3;
  background-color: #ffffff;
  width: 100%;
  max-width: 154px;
  padding-block: 3px;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 7px;
}
.hero-ad p:nth-of-type(2) {
  font-family: "Zen Old Mincho";
  font-size: 32px;
  margin-bottom: 5px;
}
.hero-ad p:nth-of-type(3) {
  font-size: 15px;
}
.more-btn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #519bb3;
  font-weight: 500;
  text-decoration: underline;
}

.time-table {
  width: 100%;
  margin-bottom: 12px;
}

.time-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid #60b5ba;
}

.time-table thead th {
  padding-block: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.time-table thead tr {
  background: linear-gradient(135deg, #3894df 0%, #62c097 100%);
}

.time-table tbody tr:nth-of-type(1) {
  border-bottom: 1px solid #4691aa;
}

.time-table tbody td {
  padding-block: 8px;
  font-size: 16px;
  font-weight: 500;
}

/* Dot (○) */
.dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #4691aa;
  border-radius: 50%;
}

/* Triangle (▲) */
.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid #4691aa;
  display: inline-block;
}

.time-table tbody td {
  color: #4691aa;
  font-size: 16px;
  font-weight: 500;
}
.time-txt {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #519bb3;
}
.info-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 11px;
}
.info-item p:nth-of-type(1) {
  font-size: 16px;
  color: #ffffff;
  width: 80px;
  min-width: 80px;
  padding-block: 3px;
  text-align: center;
  height: fit-content;
  border-radius: 100px;
  background: linear-gradient(135deg, #3894df 0%, #62c097 100%);
}
.info-item p:nth-of-type(3) {
  font-size: 18px;
  font-weight: 500;
  color: #519bb3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* --- Floating btns --- */
/* .floating {
  position: fixed;
  top: 17px;
  right: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 999;
}
.floating.show {
  opacity: 1;
}
.floating a {
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ffffff;
}
.floating a img {
  width: 30px;
}
.floating a:nth-of-type(1) {
  background-color: #3894df;
  border-top-left-radius: 10px;
}
.floating a:nth-of-type(2) {
  background-color: #62c097;
  border-bottom-left-radius: 10px;
} */
@media (max-width: 1100px) {
  .fv .hero-txt {
    padding-inline: 16px;
  }
  .fv .side-bar {
    padding-inline: 16px;
  }
}

@media (max-width: 768px) {
  .info-item {
    justify-content: center;
  }
  .hero p {
    font-size: 24px;
  }
  .fv .side-bar {
    padding-block: 11px;
  }
  .fv .hero-txt {
    padding-block: 20px;
    text-align: start;
  }
}
@media (max-width: 650px) {
  header {
    padding: 5px 94px 5px 9px;
  }
  .fv .hero {
    height: 120px;
  }
  .hero-ad {
    display: none;
  }
}

/* ================================ */
.notice {
  width: 100%;
  padding-block: 41px 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notice .notice-item {
  width: 100%;
  max-width: 1100px;
  padding-block: 30px;
  border-block: 1px solid #d3d3d3;
}
.notice .notice-item .date {
  font-size: 16px;
  color: #8c8c8c;
  margin-bottom: 5px;
}
.notice .notice-item .title {
  font-size: 20px;
}

/* ================================ */
/* ----- bottom common parts  ----- */

/* ----- COMPANY  ----- */
.company {
  width: 100%;
  background-color: #fafafa;
  padding-block: 18px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company .top {
  display: flex;
  gap: 70px;
  margin-bottom: 62px;
}
.company .top .company-info {
  width: 100%;
  max-width: 360px;
}
.company .top .company-info .logo img {
  width: 200px;
  margin-bottom: 22px;
}
.company .top .company-info .address {
  font-size: 16px;
  margin-bottom: 17px;

  span {
    font-weight: 600;
  }
}
.company .top .company-info .tel {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 38px;
  color: #519bb3;
  margin-bottom: 28px;

  img {
    width: 30px;
    height: 30px;
  }
}
.company .top .company-info .time-table {
  margin-bottom: 13px;
}
.company .top .company-info .work-time-txt {
  font-size: 18px;
}
.company .top .company-map-box {
  width: 100%;
  padding-top: 15px;
}
.company .top .company-map {
  width: 670px;
  height: 380px;
  margin-top: 26px;
}
.company .video {
  width: 100%;
  max-width: 800px;
  margin-top: 28px;

  img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .company .top {
    flex-direction: column;
    align-items: center;
    gap: 29px;
  }
  .company .top .company-info .logo {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .company {
    padding-block: 18px 0;
  }
  .company .top {
    width: 100%;
    margin-bottom: 30px;
  }
  .company .top .company-map {
    width: 100%;
    height: 290px;
  }
  .company .top .company-map-box {
    padding-top: 0;
  }
  .company .video {
    margin-top: 30px;
  }
}

/* ----- BADGES  ----- */
.badges {
  width: 100%;
  padding-block: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
.badge-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1050px;
  margin-top: 31px;
}
.badge-group img {
  width: 340px;
}

@media (max-width: 1100px) {
  .badge-group {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .badge-group {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}
