* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Zen Maru Gothic", "Zen Old Mincho";
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  color: #535353;
  position: relative;
}

a {
  text-decoration: none;
  color: #535353;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

.is-md-show {
  display: none;
}

.dir-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .is-md-show {
    display: block;
  }

  .is-md-hide {
    display: none;
  }
}
